body{
    margin: 10px auto;
}
.box1{
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 16px;
}
.box1-img{
    width: 100%;
    border-radius: 16px;
}
.text{
    font-size: 18px;
    font-weight: bolder;
    color: gray;
    margin: 8px;
}
.image{
    display: flex;
    align-items: center;
    margin: 8px;
}
.image1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.data{
    align-items: center;
}
.text1{
    margin-bottom: 0px;
    margin-left: 10px;
}
.text2{
    margin-top: 0px;
    margin-left: 10px;
}
.nav-bar{
    background-color: black;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
}
.head{
    margin:5px auto;
    font-size: 40px;
}
.links{
    display: flex;
    align-items: center;
}
.link{
    margin: 25px;
    font-size: 25px;
    color: rgb(231, 231, 231);
    text-decoration: none;
}
.btn{
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255,0.9);
    color: rgba(0,0,0,1);
    font-weight: bolder;
}
